@import './_constant';


.wh-dashboard-page {

  .wh-table {

    td:nth-child(5) {
      text-align: center;

      .wh-button-error {
        padding: $SIZE_PADDING_S $SIZE_PADDING_M;
      }
    }
  }
}
