<html>

  <head>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>WordHabit Administration Panel - Login</title>
    {{{devStyle}}}
  </head>

  <body class="wh-login-page">
    <header class="wh-header">
      <div class="wh-container">
        <span class="wh-logo"></span>
      </div>
    </header>

    <div class="wh-content wh-container">
      <form class="wh-form" novalidate>
        <fieldset>
          <legend>Login</legend>

          <label for="username">Username: </label>
          <input id="username" type="text" name="username" />

          <label for="password">Password: </label>
          <input id="password" type="password" name="password" />

          <input class="wh-button" type="submit" value="Login" />

          <strong class="wh-alert">{{{error}}}</strong>
        </fieldset>
      </form>
    </div>

    {{{devScript}}}
  </body>

</html>
