<html>

  <head>
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>WordHabit Administration Panel - New word</title>
    {{{devStyle}}}
  </head>

  <body class="wh-word-page">
    <header class="wh-header">
      <div class="wh-container">
        <span class="wh-logo"></span>
        <a class="wh-navlink" href="/panel/dashboard">Dashboard</a>
        <a class="wh-navlink active" href="/panel/word">New word</a>
      </div>
    </header>

    <div class="wh-content wh-container">
      <form class="wh-form" novalidate>
        <fieldset>
          <label for="environment">Environment:</label>
          <select id="environment" name="environment">
            <option value="PROD" selected>PROD</option>
            <option value="QA">QA</option>
          </select>
        </fieldset>

        <fieldset>
          <legend>Primary language</legend>

          <label for="primaryLang">Primary language:</label>
          <select id="primaryLang" name="primaryLang">
            <option value="EN" selected>English</option>
            <option value="PL">Polski</option>
          </select>

          <label for="primaryLangWord">Primary language word:</label>
          <input id="primaryLangWord" type="text" name="primaryLangWord" />

          <label for="primaryLangDescription">Primary language description:</label>
          <textarea id="primaryLangDescription" name="primaryLangDescription"></textarea>
        </fieldset>

        <fieldset>
          <legend>Secondary language</legend>

          <label for="secondaryLang">Secondary language:</label>
          <select id="secondaryLang" name="secondaryLang">
            <option value="EN">English</option>
            <option value="PL" selected>Polski</option>
          </select>

          <label for="secondaryLangWord">Secondary language word:</label>
          <input id="secondaryLangWord" type="text" name="secondaryLangWord" />

          <label for="secondaryLangDescription">Secondary language description:</label>
          <textarea id="secondaryLangDescription" name="secondaryLangDescription"></textarea>
        </fieldset>

        <fieldset>
          <legend>Image</legend>

          <label for="imageUrlRadio">
            <input id="imageUrlRadio" type="radio" name="imageOption" value="URL" checked />
            Image URL
          </label>
          <input id="imageUrl" type="url" name="imageUrl" />

          <label for="imageFileRadio">
            <input id="imageFileRadio" type="radio" name="imageOption" value="FILE">
            Image file
          </label>
          <input id="imageFile" type="file" name="imageFile" disabled />

          <label for="noImageRadio">
            <input id="noImageRadio" type="radio" name="imageOption" value="NONE" />
            No image
          </label>
        </fieldset>

        <fieldset>
          <legend>Execution</legend>

          <label for="executeAtDate">Execution date:</label>
          <input id="executeAtDate" type="date" name="executeAtDate" />

          <label for="executeAtTime">Execution time:</label>
          <input id="executeAtTime" type="time" name="executeAtTime" />

          <input id="timezoneOffset" type="hidden" name="timezoneOffset" />
        </fieldset>

        <fieldset>
          <input class="wh-button" type="submit" value="Add" />

          <strong class="wh-alert">{{{error}}}</strong>
        </fieldset>
      </form>
    </div>

    {{{devScript}}}
  </body>

</html>
