@import '../_constant';


.wh-table {
  table-layout: fixed;
  width: 100%;

  thead tr {
    font-weight: bold;
    background-color: lighten($COLOR_DIVIDER, 10%);
  }

  thead th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tbody tr {

    &.wh-table-row-success {
      background-color: $COLOR_GREEN_LIGHT;
    }

    &.wh-table-row-failure {
      background-color: $COLOR_RED_LIGHT;
    }
  }

  tbody td {
    overflow: auto;
  }

  th,
  td {
    vertical-align: middle;
    border: 1px solid $COLOR_DIVIDER;
    padding: $SIZE_PADDING_S;
  }
}

.wh-table-cell-divider {
  margin: $SIZE_MARGIN_XS 0;
}
